// Variables
$white: #fff;
$black: #000;
$blue: #2980b9;
// Font
$regular: 300;
$medium: 500;
$bold: 700;

//Transitions
$base-timing: .3s;
$base-easing: ease-out;
$base-transition: $base-timing $base-easing;
$base-hover: .2s $base-easing;

$xxs-min: 450px;
$xs-min: 600px;
$sm-min: 750px;
$md-min: 900px;
$lg-min: 1024px; // Concession for ipad
$xl-min: 1200px;
$xxl-min: 1350px;
$xxxl-min: 1500px;
$max-width: $xl-min;

//Editorial
$padding-bottom: 20px;
$base-font-size: 1.2rem;
$base-font-family: 'Montserrat', sans-serif;
