html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

// Avoid adding images without alt tags
img {
  //sass-lint:disable no-attribute-selectors no-color-keywords no-color-literals no-important
  &:not(.no-alt-rqd) {
    &:not([alt]) {
      border: 1px solid red !important;
    }
  }
}

// The below is to reduce reliance on browser defaults encouraging semantic use of h tags and easy refactoring
@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1.6rem;
    margin: 0;
  }
}

a {
  text-decoration: none;
}

.hide-svg-icon {
  display: none;
}

.icon {
  @include dimensions(20px);
  fill: $black;
}
