.editorial {
  font-family: $base-font-family;
  font-size: $base-font-size;

  p {
    margin: 0;
    padding-bottom: $padding-bottom;
    padding-top: 0;
  }

  a {
    color: $blue;
  }

  ul {
    margin: 0;
    padding: 0 0 $padding-bottom 15px;
  }

  ol {
    margin: 0;
    padding: 0 0 $padding-bottom 15px;
  }

  b,
  strong {
    font-weight: $bold;
  }
}

.editorial__inner {
  @include wrap;
}
